---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro'
---

<Layout title="Welcome to Astro.">
	<main>

		<section class="w-full lg:w-[740px] mx-auto py-44">


			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy Lui 
				<div class="flex justify-center items-center">
					<Badge>Developer</Badge>
				</div>
			</h1>
			<h2 class="text-xl">+1 año de experiencia en Desarrollo de software y Administracion de Servidores Linux.
				Especializado en Arquitecturas Cloud, DevOps y Despliegue de Aplicaciones.</h2>

			<ul></ul>
		</section>
	</main>
</Layout>

